body {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    background-color: rgb(48, 46, 46);
    color: rgb(255, 255, 255);
    padding: 0 20px 20px 20px;
}
th {
    text-align: center;
    width: 9%;
    padding: 20 20 20 20;
    border: 1px solid rgb(71, 70, 70);
}

input {
    width: 15%;
    min-width: 60px;
    padding: 5px;
    color: rgb(54, 51, 51);
}

label {
    padding: 20px;
}

h2 {
    margin: 0;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 1px rgb(102, 86, 86);
}

button {
    width: 20%;
    min-width: 100px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(32, 27, 27);
    background-color: #40a1d1;
    border-radius: 10px;
    border: 1px solid #0016b0;
}

button:hover {
    color: #40a1d1;
    background-color: rgb(0, 38, 63);
}
